:root {
    --blue: #3775F7;
    --yellow: #FDF151;
    --green: #66D879;
    --gray: #D9D9D9;
    --brown: #D68758;

    --dark-gray: #323232;
    --light-gray: #949494;
    --off-white: #ffffff;

}


main {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section {
    scroll-snap-align: start;
}


html,
body {
    height: auto;
    overflow-y: auto;
}

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

.menu {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    z-index: 1;
    background-color: var(--off-white);
    top: 0;
    right: 0;
    left: 0;
    /* box-shadow: 2px 2px 12px 2px #b6b6b6; */
    /* position: absolute; */
    overflow: hidden;
    padding: 0 0 1.5em 0;

    .navegador {
        padding: 1em;
        list-style-type: none;

    }

    .menu-hamb {
        z-index: 1;
        padding-top: 3em;
        max-height: 50%;
    }

    .menu-hamb a {
        color: var(--dark-gray);
        display: flex;
        padding: 10px 20px;
        max-width: 200px;
    }

    .menu-hamb input[type="checkbox"],
    .menu-hamb .menu-close,
    .menu-hamb .menu-open {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 32px;
        height: 32px;
        right: 20px;
        left: 20px;
        top: 20px;
        cursor: pointer;
    }

    .menu-hamb .menu-close,
    .menu-hamb .menu-open {
        pointer-events: none;
    }

    .menu-hamb input[type="checkbox"] {
        opacity: 0;

    }

    .menu-hamb nav {
        display: none;
    }

    .menu-hamb input:checked~nav {
        display: flex;

    }

    .menu-hamb input:checked~.menu-close {
        display: none;

    }

    .menu-hamb input:not(:checked)~.menu-open {
        display: none;
    }
}

.menu::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    /* intensidad y dirección de la sombra */
    height: 30px;
    /* tamaño de la sombra */
    background: linear-gradient(90deg, var(--brown), var(--yellow), var(--blue), var(--green), var(--gray));
    filter: blur(20px);
    /* difuminado de sombra */
    opacity: 0.5;
    z-index: -1;
    pointer-events: none;
}


h1.sections {
    color: var(--dark-gray);
    font-size: clamp(40px, 5vw, 80px);
    font-weight: 800;
    text-align: left;
}

h3.subtitle {
    font-weight: 700;
    font-size: clamp(20px, 3vw, 40px);
}

.new-arrow {
    width: 2.5cqw;
    height: 2.5cqw;
    transform: rotate(-90deg);

}


a {
    text-decoration: none;
}

h3 {
    color: var(--dark-gray);
    font-weight: 700;
    text-decoration: none;
    white-space: nowrap;

}

h3.containers {
    &:hover {
        text-shadow: 0 0 10px var(--light-gray);
    }
}

h3.aprende {
    &:hover {
        text-shadow: 0 0 10px var(--blue);
    }
}

h3.encasa {
    &:hover {
        text-shadow: 0 0 10px var(--green);
    }
}

h3.puntos {
    &:hover {
        text-shadow: 0 0 10px var(--yellow);
    }
}

h3.reciclar {
    &:hover {
        text-shadow: 0 0 10px var(--brown);
    }
}

a {
    font-weight: 700;
    text-decoration: none;
    color: black;

    white-space: nowrap;

}

span {
    font-size: clamp(12px, 1vw, 1em);
    max-width: clamp(350px, 40vw, 800px);
    color: var(--dark-gray);
    line-height: 2;

    strong {
        font-weight: bold;
    }
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}

.new {
    padding: 2em;
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    gap: 1cqw;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 2em;
    transition: transform 0.5s ease;

}

.new-content {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
}


/* Oculta el formulario original de Google */
.gsc-control-cse,
.gsc-control-cse * {
    all: unset;
    display: none !important;
}

.back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;

}


.back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 
}



.group-1 img {
    position: absolute;
    display: flex;
    width: clamp(200px, 25vw, 500px);
    height: clamp(200px, 25vw, 500px);
    margin-top: 8vh;
    left: 0;
}


.group-2 img {
    position: absolute;
    display: flex;
    width: clamp(200px, 25vw, 500px);
    height: clamp(200px, 25vw, 500px);
    margin-top: 45vh;
    right: 0;
    bottom: 50px;
}



/* Buscador */
.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 0 0 2em;
    border-radius: 50px;
    overflow: hidden;
    background-color: var(--off-white);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
}

.search-input {
    flex: 1;
    padding: 2em 1.5em;
    border: none;
    font-size: clamp(12px, 1vw, 1em);
    outline: none;
    border-radius: 50px 0 0 50px;
    color: var(--dark-gray);
}

.search-input::placeholder {
    color: var(--light-gray);
    font-weight: 400;
}


.icon-search {
    width: 24px;
    height: 24px;

}

.answer-container{
padding-top: 5em;
max-width: 800px;
justify-content: center;

}

.answer{

    span{
        max-width: 60%;
     }

     img{        
        margin:0 10vw;
        padding: 2em 0;
     }
}

/* media querys */
@media (min-width:1024px) {

    .answer{
        display: flex;
        justify-content: space-between;


     img{
        margin: 0;
        padding: 0 2em;
     }
    }

    .menu {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        z-index: 2;
        background-color: var(--off-white);
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        padding: 0;

        .navegador {
            display: flex;
            justify-content: space-between;
            padding: 1em 2em 1em 2em;
            list-style-type: none;


            .secciones {
                display: flex;
                justify-content: space-around;
                margin-left: 17em;
                flex-wrap: nowrap;

            }

        }

        .menu-hamb {
            z-index: 1;
            padding-top: 5em;
            max-height: 50%;
        }


        .menu-close,
        .menu-open {
            display: none;
        }

        .nav {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-content: center;
            list-style: none;
            padding: 1em;
            gap: 25vw;

            .secciones {
                display: flex;

            }
        }

        .menu-hamb nav {
            display: flex;
            flex-direction: row;
        }

        .menu-hamb {
            padding-top: 0;
        }
    }

    .fondo2 {
        transform: scale(1);
    }

}

