.back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    /* transform: translate(-1%, 110%) scale(4.5); */
    animation: enterAnimation 2.5s ease forwards;
}

@keyframes enterAnimation {
    0% {
        transform: translate(-15%, 20%) scale(1.5);
    }

    100% {
        transform: translate(0, -10%) scale(1.5);
    }
}

.back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1.5s ease;
}

.mapa-puntos {

    display: flex;
    justify-content: center;
    overflow: scroll;
    animation: enter 2.5s ease;

  }


.contenedor-relativo {
    position: relative;
    width: 80vw;
    max-height: 50vh;
  }
  
.mapa{
    max-width: 100%;
    max-height: 50vh;
    overflow-y: scroll;
    border-radius: 20px;

    animation: enter 2.5s ease;
  }
  
.mapa img {
    display: block;
    width: 100%;
    height: auto;
  }

.puntos-verde{
    position: absolute;
    top:2em;
    left: 2em;
    z-index: 2;
    background: #ffffffbb;
    padding: 1em;
    border-radius: 10px;
    width: fit-content;
    animation: enter 2.5s ease;

    h3 {
      text-align: center;
      font-size: clamp(12px, 14px, 20px);
      padding-bottom: 15px;
    }
  
    .search-input {
      width: 200px;
      text-align: left;
      font-size: clamp(10px, 12px, 18px);
    }
}

/* Buscador */
.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 0 0 2em;
    border-radius: 50px;
    overflow: hidden;
    background-color: var(--off-white);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
}

.search-input {
    flex: 1;
    padding: 2em 1em;
    border: none;
    font-size: clamp(12px, 1vw, 1em);
    outline: none;
    border-radius: 50px 0 0 50px;
    color: var(--dark-gray);
}

.search-input::placeholder {
    color: var(--light-gray);
    font-weight: 400;
}


.icon-search {
    width: 24px;
    height: 24px;

}

  /* #tooltip {
    position: fixed;
    display: none;
    background: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    font-size: 14px;
    pointer-events: none; /* Para evitar que interfiera con los clics
} */
